*{
	padding:0;
	margin:0;
}
html, body {
	width: 100%; 
	height: 100%;
	font-family:Arial;
	overflow:hidden;
}
#container{
	width:100%;
	height: 91.5%;
	position:relative;
	margin:0 auto;
}
#left{
	width:350px;
	float:left;
	border-left:1px solid #CECECE;
	border-right:1px solid #CECECE;
	height:100%;
	background:#ECECEC;
}
#left-content{
	padding:10px;
}
#right{
	width:100%;
	height:100%;
	float:right;
	position:relative;
	overflow:hidden;
}
#right-content{
	
}
.content{
	overflow:hidden;
}
#map{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
#side-panel{
	border:1px solid #CECECE;
	border-radius:15px;
	height:100%;
	background:#ffffff;
	position:relative;
	behavior: url(css/PIE.htc);	
}
#side-panel-content{
	padding:10px;
}
#logo{
	border-bottom:1px solid #ECECEC;	
}
#logo img{
	width:300px;
}
#address{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:230px;
	behavior: url(css/PIE.htc);
	margin:10px 0;		
}

/*
#search-btn{
	width:86px;
	height:42px;
	background:url(../img/search-btn.png) left top;
	border:0;
	cursor:pointer;
}
#search-btn:hover{
	background:url(../img/search-btn.png) left bottom;
}
#search{
	
}
*/
.ui-autocomplete {
    background-color: white;
    width: 240px;
    border: 1px solid #cfcfcf;
    list-style-type: none;
    padding-left: 0px;
    font-size:12px;
	padding:5px;
	line-height:20px;
	cursor:pointer; 
	background-image:none;   
}
.ui-menu-item a{
	display:block;
}

.ui-menu-item a:hover{
	background:#fcfcfc;
}
#menu{
	padding:10px 0;
	border-top:1px solid #F4F4F4;
	border-bottom:1px solid #F4F4F4;
	margin-bottom:10px;
}
#menu a{
	padding:5px 0;
	float:left;
	margin:0px;
	text-decoration:none;
	font-size:11px;
	color:#6b6b6b;
	background:#FCFCFC;
	display:block;
	width:150px;
	text-align:center;
	border-left:1px solid #ECECEC;
	border-top:1px solid #ECECEC;
	border-right:1px solid #cecece;
	border-bottom:1px solid #cecece;
	text-transform:uppercase;	
}
#menu a:hover{
	background:#003461;
	color:#ffffff;
	font-weight:bold;
}
#title{
	background:#003461;
	color:#ffffff;
	font-size:14px;
	text-align:center;
	font-weight:bold;
	padding:4px 0;
	
}
.clear{
	clear:both;
}
.ui-widget{
	font-size:12px;	
}	
#search-btn.ui-widget{
	font-size:10px;
	padding:2px 0;
}
.overlay{
	overflow-y:hidden;
}
.overlay .ui-widget{
	font-size:10px;
}
.overlay button{
	float:right;
}
.ui-accordion .ui-accordion-content{
	padding: 5px 10px 10px;
}
#totals{
	margin-top:10px;
}
#calculations thead td, #totals thead td{
	font-weight:bold;
}
#calculations table, #totals table{
	margin-bottom:10px;
}
#calculations td, #totals td{
	padding:0 5px;
}
.ui-autocomplete .ui-menu-item a:hover{
	color:#000000;
}
#instructions, #introduction{
	text-align:center;
	font-size:22px;
	padding:20px 0;
	color:#6b6b6b;
}
#save-dialog table{
	margin:10px 0;
}
#save-dialog table td{
	padding:2px 5px;
}
#save-dialog table td input{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:230px;
	behavior: url(css/PIE.htc);
}
#save-dialog table td textarea{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:230px;
	behavior: url(css/PIE.htc);
}
#calculations{
	height:200px;
	overflow-y:auto;
}
#totals{
	
}
#shape-type{
	border-bottom:1px solid #CECECE;
	padding:5px 0 10px 0;
}
.shape{
	padding:10px 0 5px 0;
	display:none;
}
#shape-dialog table td{
	padding:2px 5px;
}
#shape-dialog table td input{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:100px;
	behavior: url(css/PIE.htc);
}
#shape-dialog #angle1, #shape-dialog #angle2, #shape-dialog #angle3{
	width:40px;
}
.context-menu{
	visibility:hidden;
	position:absolute;
	z-index:99999;
	width:120px;
	height:100px;
}
.context-menu a{
	display:block;
	background:#ECECEC;
	color:#000000;
	font-size:12px;
	padding:5px;
	cursor:pointer;
	border:1px solid #CECECE;
}
.context-menu a:hover{
	background:#FCFCFC;
}
#rotate-dialog input{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:50px;
	behavior: url(css/PIE.htc);
}
#file-dialog a{
	color:#83A52A;
	font-weight:bold;
	cursor:pointer;
}
#file-dialog a:hover{
	text-decoration:underline;
}
#file-dialog #export{
	border-bottom:1px solid #DFD9C3;
	padding:10px 0 10px 0;
}
#file-dialog #import{
	padding:10px 0 0;
}
#file-dialog p{
	margin-bottom:5px;
}
.qq-upload-button{
	padding:5px 0;
	margin-left:120px;
	border:1px solid #327E04;
	font-weight:bold;
	border-radius:5px;
	behavior: url(css/PIE.htc);
}
#file-dialog button{
	margin-left:120px;
}
#instructions-dialog p{
	margin-top:10px;
}
#instructions-dialog ol{
	margin-top:10px;
	margin-left:20px;
}
#instructions-dialog li{
	margin-bottom:6px;
}

.polygon-label{
	visibility:hidden;
	position:absolute;
	z-index:1000;
	/*width:120px;*/
	/*height:100px;*/
	font-size:11px;
	background:#FCFCFC;
	padding:2px 4px;
	border:1px solid #000000;
}

#setAreaLabel-dialog input{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:150px;
	behavior: url(css/PIE.htc);
}

.distanceTooltip{
	visibility:hidden;
	position:absolute;
	z-index:1000;
	font-size:11px;
	background:#FCFCFC;
	padding:2px 4px;
	border:1px solid #000000;
}

#setLineLength-dialog input{
	border:1px solid #CECECE;
	border-radius:5px;
	padding:5px;
	background:#fcfcfc;
	width:100px;
	behavior: url(css/PIE.htc);
}

#slideout-menu{
	position:absolute;
	z-index:1000;
	bottom:0px;
	background:#FCFCFC;
	border:1px solid #CECECE;
	border-radius:5px;
	behavior: url(css/PIE.htc);
	padding-left:10px;
}
#slideout-menu-content{
	padding:5px;
}
#slideout-menu-content button{
	float:right;	
}
#slideout-actions{
	float:right;
	MARGIN-RIGHT:0PX;
	padding-right:5px;
}
#slideout-actions button{
	margin-right:1px;
}
#slideout-menu .ui-widget{
	font-size:10px;
}
#slideout-menu-content #arrow{
	margin-left:5px;
}
#oldLength{
	border-bottom:1px solid #DFD9C3;
	padding-bottom:10px;
	margin-bottom:10px;
}


.logo-1 {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}
.logo-1 img {
	margin-top: -17px;
    width: 124px;
    height: 114px;
}
.top-text-1 {
	color:#86b60d;
	
    margin: 0;
}
.left-sec {
	display: flex;
}
.text-1 {
	padding-top: 21px;
	font-weight: 900;
	margin-left: -26px;
}
.maker-1 {
	background-color: #83A52A;
    border-radius: 50%;
    height: 22px;
    width: 21px;
    padding-left: 6px;
    color: white;
    margin-left: 5px;
}
.logo-1 {
	display: flex;
	justify-content: space-between;
}
.right-sec {
	display: flex;
	padding-top: 28px;
    padding-right: 20px;
}
.text-2 {
	font-weight: 900;
}
.button-group-1 {
	position: absolute;
	left: 20px;
	top: 200px;
	z-index: 1;
}
.button-1-successed {
	width: 95px;
	height: 90px;
	border-radius: 10px;
	background: linear-gradient(#d4e74f 0%, #79ae00 100%);
	border: 1px solid #707070;
	margin-bottom: 10px;
	cursor: pointer;
}
.button-1:hover {
	background: linear-gradient(#c3db2654 0%, #7aae005d 100%);
	transition: all .3s;
}
.button-1-successed:hover {
	background: linear-gradient(#c3db2654 0%, #7aae005d 100%);
	transition: all .3s;
}
.button-1 {
	width: 93px;
	height: 90px;
	border-radius: 10px;
	background: #fff;
	margin-bottom: 10px;
	cursor: pointer;
}
.menuActionZ {
	display: none;
}
.fas {

    
}
.middle-font {
	font-size: 55px;
	color: white;
	text-shadow: 1px 1px 4px black; 
}
.centerd-text {
	text-align: center;
	padding-top: 15px;
}
.location-section {
	width: 650px;
	position: absolute;
	top: 200px;
	left: 160px;
	z-index: 2;
	background-color: white;
	border-radius: 9px; 
	padding: 30px;	
	border: 1px solid #707070;
	/* max-height: 339px; */
}
.width-zero {
	width: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: .3s;
}
.buttom-3 {
	background-color: white;
	padding: 10px;
	cursor: pointer;
	border: 1px solid black;
	margin-left: 20px;
	border-radius: 6px;
}
.buttom-3:hover {
	background-color: turquoise;
	transition: all .3s;
}
.d-flex {
	display: flex;
}
.location {
	border-radius: 6px;
	border: 1px solid black;
	padding-left: 10px;
	width: 68%;
	height: 43px;
}
.location:focus {
	border: 1.5px solid #86b60d!important;
}
.text-2 {
	color:#86b60d;
	margin-left: 20px;
	font-size: 20px;
	vertical-align: super;
	font-weight: 700;
}
.header-1 i {
	color:#86b60d;
	font-size: 35px;

}
.header-1 {
	margin-bottom: 30px;
	max-height: 43px;
	overflow: hidden;
}
.width-1 {
	padding: 0 40px;
}
.mr-1 {
	margin-right: 14px;
}
.mt-1 {
	margin-top: 18px;
}
.mb-1 {
	margin-bottom: 14px;
}
#property {
	border-radius: 6px;
	border: 1px solid black;
	padding-left: 10px;
	padding-right: 10px;
	height: 43px;
}
.select {
	padding-top: 12px;
    padding-right: 13px;
}
.button-4 {
	padding: 12px;
	cursor: pointer;
	border-radius: 6px;
	text-align: center;
	border: 1px solid black;
}
.button-4:hover {
	background-color: cadetblue;
	transition: all .3s;
}
.footer-1 {
	display: flex;
	justify-content: flex-end; 	
}
.black-button {
	background-color: black;
	color: white;
}
.color-section {
	z-index: 2;
	background-color: white;
	border: 1px solid rgb(133, 133, 133);
	border-radius: 8px;
	padding: 19px;
	margin-bottom: 10px;
}
.mavi {
	background-color: #27FF48;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.kirmizi {
	background-color: #FF5858;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.pembe {
	background-color: #48FFEA;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.orange {
	background-color: #3E5BBE;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.yesil {
	background-color: #4879FF;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.six {
	background-color: #FFE348;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.seven {
	background-color: #D472FF;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 7px;
	cursor: pointer;
}
.button-2 {
	cursor: pointer;
	padding: 10px;
	border-radius: 6px;
	text-align: center;
	border: 1px solid black;
	width: -webkit-fill-available;
}
.justify-content-space-between {
	justify-content: space-between;
}
.justify-content-space-around {
	justify-content: space-around;
}
.color-hover:hover {
	border: 2px solid black;
}
.selected{
	box-shadow: 0px 0px 9px #333;
}
.pen {
	font-size: 20px;
	color: #86b60d;
	padding-right: 7px;
	margin-top: 5px;
}
.text-style-2 {
	color: #86b60d;
	font-size: 20px;
	font-weight: 500;
	overflow: hidden;
}
.select-co {
	border-top: 3px solid rgb(208 208 208);
	padding-bottom: 9px;
	padding-top: 7px;
}
.color-line-section {
	padding: 15px 10px;
}
.top-section-1 {
	max-height: 38px;
}
.gate-section {
	z-index: 2;
	background-color: white;
	border: 1px solid rgb(133, 133, 133);
	border-radius: 8px;
	padding: 19px;
	margin-bottom: 10px;
}
.left-section-gate,.right-section-gate {
	width: 50%;
	border-radius: 6px;
	border: 1px solid black;
	text-align: center;
	padding-top: 11px;
}
.left-section-gate:hover {
	background-color: rgb(182, 182, 182);
	transition: all .3s;
	cursor: pointer;
}
.gate-selected{
	background-color: rgb(182, 182, 182);
	cursor: pointer;
}
.right-section-gate:hover {
	background-color: rgb(182, 182, 182);
	transition: all .3s;
	cursor: pointer;
}
.left-section-gate {
	margin-right: 17px;
}
.button-2:hover {
	background-color: rgb(184, 184, 184);
	transition: all .3s;
}
.black-button:hover {
	background-color: rgb(59, 59, 59);
	transition: all .3s;
}
.bottom-left-button {
	display: flex;
	justify-content: space-around;
	color: white;
	border-radius: 10px;
	padding: 6px;
	cursor: pointer;
	width: 240px;
	background: rgb(119 119 119 / 39%);
}
.bottom-right-button {
	display: flex;
	justify-content: space-around;
	border: 2px dashed #fff;
	color: white;
	border-radius: 10px;
	background: rgb(119 119 119 / 39%);
	padding: 6px;
	cursor: pointer;
	width: 240px;
}
.bottom-left-button:hover {
	background-color: rgba(203, 255, 235, 0.384);
	transition: all .3s;
}
.bottom-right-button:hover {
	background-color: rgba(203, 255, 235, 0.384);
	transition: all .3s;
}
.plus {
	/* background-color: rgb(180, 43, 43); */
	border: 2px solid #D4E74F;

	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 27px;
	color: #D4E74F;
}
.button-group-2 {
	position: absolute;
	bottom:30px;
	left: 100px;
	z-index: 2;
	display: flex;
}
.bottom-left-button p {
	margin: 3px 8px 0 8px;
	line-height: 1.2;
}
.bottom-right-button p {
	margin: 3px 8px 0 8px;
	line-height: 1.2;
}
.bottom-right-button img {
	width: 35px;
	height: 32px;
	margin: 3px 4px 0 4px;
}
.bottom-window {
	background-color: #ffffff;
	width: 100%;
	height: 230px;
	position: absolute;
	display: none;
	bottom: 0;
	z-index: 2;
	border-top-right-radius: 15px;
}
.bottom-window-2 {
	background-color: #ffffff;
	width: 100%;
	height: 230px;
	position: absolute;
	display: none;
	bottom: 0;
	z-index: 2;
	border-top-right-radius: 15px;
}
.button-group-3 {
	position: absolute;
	top: 131px;
    right: 67px;
	z-index: 2;
	display: flex;
	text-align: center;
	color: white;
}
.button-style-4 {
	border: 2px dashed #fff;
	padding: 18px 25px;
	border-radius: 10px;
}
.button-style-4:hover {
	cursor: pointer;
	background-color: rgb(207, 207, 207);
	transition: all .2s;
}
.button-style-5 {
	padding: 20px 40px;
	border-radius: 10px;
	background: linear-gradient(#6ee2f5 0%, #6454f0 100%);
}
.button-style-5:hover {
	cursor: pointer;
}
.button-style-6 {
	padding: 18px 25px;
	border-radius: 10px;
	background: linear-gradient(#d4e74f 0%, #79ae00 100%);
}
.button-style-6:hover {
	cursor: pointer;
}
.bottom-window-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 14px;
}
.text-section-2 {
	font-size: 16px;
    line-height: 20px;
    color: #7cad20;
	font-weight: 800;
}
.text-section-3 {
	font-size: 16px;
    line-height: 20px;
    color: #7cad20;
	font-weight: 800;
}
.jqiclose {
	width: 30px;
    height: 30px;
    text-align: center;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
	background-color: black;
	color: white;
}
.jqiclose:hover {
	background-color: rgb(56, 56, 56);
	transition: all .2s;
}
.collapse_selection {
	border: 1px solid rgb(109, 109, 109);
	border-radius: 6px;
	margin: 4px;
	width: 280px;
	cursor: pointer;
	background: white;
    text-align: center;
	padding-left: 18px;
}
.collapse_selection:hover {
	border: 2px solid rgb(22, 12, 46);
	transition: all .1s;
}
.input-section-1 {
	display: flex;
}
.location-2 {
	border-radius: 6px;
	border: 1px solid black;
	padding-left: 10px;
	width: 68%;
	height: 43px;
}
.thanks {
	position: absolute;
	top: 100px;
	right: 5px;
	padding: 30px;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	background-color: #ededff;
	z-index: 3;
}
.top-section-1 {
	
}
.font-style-4 {
	font-size: 35px;
	font-weight: bold;
}
.font-style-5 {
	
	padding-bottom: 50px;
}
.middle-section-4 {
	padding: 20px;
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid #707070;
	border-top: 2px solid #707070;
	margin-bottom: 50px;
}
.button-edit {
	border: 1px solid black;
	border-radius: 2px;
	cursor: pointer;
	padding: 0px 11px;
}
.button-edit:hover {
	background-color: rgb(54, 54, 54);
	transition: all .2s;
	color: white;
}
.mr-2 {
	margin-right: 40px;
}
.button-style-7 {
	
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
	padding: 8px 23px;
}
.button-style-7:hover {
	background-color: rgb(54, 54, 54);
	transition: all .2s;
	color: white;
}
.bottom-section-4 {
	display: flex;
}
.price-style-1 {
	font-size: 20px;
	color: #7CAE20;
}
/* .left-sect {
	padding: 30px;
} */
.right-sect {
	padding: 30px 0 0 20px;
}
.toggletip {
	display: flex;
    flex-direction: row-reverse;
}
.add-button {
	text-align: center;
    font-size: 16px;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 4px;

}
.add-button:hover {
	cursor: pointer;
	background-color: rgb(63, 63, 63);
	transition: all .2s;
}

.cart{
	position: absolute;
    right: 50px;
    top: 550px;
    /* width: 300px; */
    /* max-height: 200px; */
    overflow-y: scroll;
    z-index: 50;
}

@media screen and (max-width: 600px) {
	#container {
		height: 83%;
	}
	.button-group-1 {
		display: flex;
		bottom: 100px;
		left: 10px;
		top: auto;
		width: 100%;
		justify-content: center;
	}
	.button-group-3 {
		bottom: 0;
		background-color: white;
		top: auto;
		width: 100%;
		right: auto;
		display: flex;
		justify-content: center;
		padding: 10px;
	}
	.button-style-4 {
		border: 2px dashed rgb(0, 0, 0);
		color: #000000;
	}
	.button-group-2 {
		display: none;
	}
	.button-1-successed {
		margin-right: 23px;
	}
	.button-1 {
		margin-right: 23px;
	}
	.location-section {
		width: auto;
		top: 137px;
		left: 10px;
		right: 10px;
		
	}
	#location {
		width: 100%;
		
	}
	.input-section-1 {
		display: block;
	}
	.location {
		margin-bottom: 8px;
		width: 100%;
	}
	.location-2 {
		margin-bottom: 8px;
	}
	.buttom-3 {
		margin-left: 0px;
	}
	.footer-1 {
		justify-content: center;
	}
	.location-section {
		max-height: 540px;
	}
}

.gates{
	position: absolute;
	left: 0px;
	top: 0px;
	background: transparent;
}

.gate{
	border: dashed 1px #fff;
	padding: 20px;
	cursor: move;
}

.outer-gate{
	position: absolute;
	z-index: 50;
	padding: 15px;
}

.close-gate-btn {
	float: right;
    margin-top: -15px;
    margin-right: -11px;
	cursor: pointer;
}

.move-gate-btn {
	background: white;
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    border-radius: 50%;
    top: 5px;
    position: absolute;
    margin-left: -10px;
	cursor: move;
}

.selectedType, .selectedGate{
	border: 2px solid rgb(22, 12, 46);
    transition: all .1s;
}

.fence-part-list{
	position: absolute;
    right: 50px;
    top: 200px;
    width: 200px;
    max-height: 200px;
    overflow-y: scroll;
    background: transparent;
    z-index: 50;
	color: white;
}

.fence-total{
	position: absolute;
    right: 80px;
    top: 400px;
    
    max-height: 200px;
    overflow-y: scroll;
    background: transparent;
    z-index: 50;
	color: white;
	display:flex;
	font-size: 36px;
}

.fence-gates{
	position: absolute;
    right: 50px;
    top: 500px;
    width: 300px;
    max-height: 200px;
    overflow-y: scroll;
    background: transparent;
    z-index: 50;
	color: white;
	display:flex;
	font-size: 36px;
}


::-webkit-scrollbar{
	width: 2px;
}